$float:left;
$defaultPadding: 10px;

.movieThumb{
    float: $float;
    padding-left: $defaultPadding;
    padding-right: $defaultPadding;
    padding-bottom: 15px;
}

.Title{
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.Title button{
    margin-top:5px;
margin-left:10px;
}


